.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.sup {
  /* width: 300px; */
  background-color: #008B8B;
  color: white;
}

.rightbox {
  background-color: lightgrey;
  width: 770px;
  height: 500px;
  padding: 25px;
  margin: 25px;
  display: block;
   float: left;
}

.leftbox {
  background-color: lightgrey;
  width: 450px;
  height: 500px;
  padding: 25px;
  margin: 25px;
  /* display: block; */
  float: right;


}
